@model List<Usuario>

<div class="row flex-wrap">
    <h1>Usuarios</h1>

    <p>
        <a asp-action="CrearUsuario" class="btn btn-primary">Nuevo Usuario</a>
    </p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => usuario.Nombre)</td>
                    <td>@Html.DisplayFor(m => usuario.Apellido)</td>
                    <td>@Html.DisplayFor(m => usuario.Correo)</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary">Editar</a>
                            <a class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

